{erl_opts,
 [warn_unused_import, warn_export_vars, warnings_as_errors, verbose, report, debug_info]}.

{minimum_otp_vsn, "23"}.

{cover_enabled, true}.

{cover_opts, [verbose]}.

{deps, []}.

{xref_checks,
 [undefined_function_calls,
  locals_not_used,
  deprecated_function_calls,
  deprecated_functions]}.

{spellcheck,
 [{ignore_regex, "(https://|[a-z]:[a-z])"},
  {files, ["src/*", "test/*"]},
  {additional_dictionaries, ["nuntius.dict", "code.dict"]}]}.

{edoc_opts, [{todo, true}]}.

{dialyzer, [{warnings, [error_handling, underspecs, unknown, unmatched_returns]}]}.

{alias, [{test, [format, spellcheck, lint, hank, xref, dialyzer, ct, cover, edoc]}]}.

{project_plugins,
 [{rebar3_hex, "~> 7.0.1"},
  {rebar3_format, "~> 1.0.1"},
  {rebar3_lint, "~> 1.0.2"},
  {rebar3_hank, "~> 1.2.2"},
  {rebar3_sheldon, "~> 0.4.2"}]}.
