{erl_opts,
 [warn_unused_import, warn_export_vars, warnings_as_errors, verbose, report, debug_info]}.

{minimum_otp_vsn, "24"}.

{cover_enabled, true}.

{cover_opts, [verbose]}.

{deps, []}.

{overrides,
 [{override,
   [{erl_opts,
     [warn_unused_import,
      warn_export_vars,
      warnings_as_errors,
      verbose,
      report,
      debug_info]}]}]}.

{xref_checks,
 [undefined_function_calls,
  locals_not_used,
  deprecated_function_calls,
  deprecated_functions]}.

{extra_src_dirs, [{"test", [{recursive, true}]}]}.

{xref_extra_paths, ["test"]}.

{spellcheck,
 [{ignore_regex, "(https://|[a-z]:[a-z]|<pre>|@equiv|\<[^\>]+\>)"},
  {files, ["src/*", "test/*"]},
  {additional_dictionaries, ["nuntius.dict", "code.dict"]}]}.

{edoc_opts, [{includes, ["src"]}, {preprocess, true}]}.

{dialyzer,
 [{warnings, [error_handling, underspecs, unknown, unmatched_returns]},
  {plt_extra_apps, [common_test]}]}.

{alias, [{test, [format, spellcheck, lint, hank, xref, dialyzer, ct, cover, edoc]}]}.

{project_plugins,
 [{rebar3_hex, "~> 7.0.6"},
  {rebar3_format, "~> 1.2.1"},
  {rebar3_lint, "~> 3.0.0"},
  {rebar3_hank, "~> 1.3.0"},
  {rebar3_sheldon, "~> 0.4.2"}]}.

{shell, [{apps, [nuntius]}]}.
